* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Стили для корневого элемента приложения */
#root {
  max-width: 1440px; /* Максимальная ширина */
  margin: 0 auto; /* Выравнивание по центру горизонтально */
}

/*  гиперссылки */
a {
  text-decoration: none; /* Удаление подчеркивания */
  color: black; /* Черный цвет текста для всех ссылок */
}

/* для всего тела страницы */
body {
  background-color: #f5f5dc;
}
